<!DOCTYPE html>
<html>
<title> YelpCamp</title>
<link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="/">Yelpcamp</a>
       </div>
        <div class="collapse-navbar">
            <ul  class="nav navbar-nav navbar-right" >
                <li><a>login </a></li>
                <li><a>Sign up </a></li>
                <li><a>Log out </a></li>
            </ul>
        </div>
    </div>
</nav>



