<%include ..\partials\header%>

<h1>Login</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="email adrres">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="submit" >

</form>
<%include ..\partials\footer%>